/* @media only screen and (max-width: 980px) {
    .container {
      max-width: 768px;
  
      /* Box-model */
      padding: 0 20px;
 */


body {
  width: 100%;
  font-family: sans-serif;
  background-image: url('/Users/ericthornton/Desktop/GT/Basic-Portfolio/assets/images/circles-light.png');
  font-size: 18px;
  line-height: 34px;
  color: #777;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
  display: block;
  padding: 0;
  z-index: 99;
  overflow: auto;
  color: #fff;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
  
}

.container {
 
  
}

img {
  margin: 1em;
  height: 200px;
  width: 200px;  
  
}

.work {
  float: left;
}


.work h3{
  position: relative;
  z-index: 99;
  margin: 0;
  width: 200px;
  text-align: center;
  background-color: #4aaaa5;
  color: #fff;
  
}

.hrConnect {
  margin: 0 15% 3% 15%;

}





h1, h2, h3, h4, p {
  margin-bottom: 20px;
}

h1 {

  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  
  
}

h2, h3 {
  font-size: 22px;
  
}

h2,h3,h4,h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: 700;
}



#Name {
  margin-left: 5%;
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  float: right;
  margin: 2% 15% 0 0;
  font-size: 80%;
  word-spacing: 20px;
  
}



a {
  color: #666666;
  
}  

/* .topname {
  margin: 0 0 0 10%;
  float: left;
  height: 10%;
  font-size: 28px;
} */


hr {
  margin-top: 3%;
  margin-bottom: 3%;
  align-self: center;
  
}


.hrConnect {
  margin: 0 15% 3% 15%;

}

p {
  margin-top: 2%;
  
}

.about {
  
  margin: 5% 0 30% 5%;
  padding: 30px;
  height: 800px;
  width: 650px;
  float: left;
  background: #ffffff;

  /* width: 650px;
  background: #ffffff
  border: 1px solid #dddddd; */
}



.aside {
  background: #ffffff;
  margin: 5% 10% 25% 5%;
  padding: 20px;
  text-align: center;
  width: 270px;
  height: 135px;
  float: right;
  

}

footer {
  background: #666666;
  margin-top: -100;
  height: 100px;
  clear: both;
  border: 20px solid #666666;
  border-top-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
  
}


.socialLink {
  width: 40px;
  height: 40px;
  margin-top: 2%;
  
}

.ConnectWithMe {
  margin-bottom: 2%;
}

.aside hr {
  width: 200px;
}

.aside img {
  margin: 5px 10px 0 10px;
}
